Follow the links for the exact lessons we will be using along the workshop. You are expected to type-along the lesson together with the instructors, but you can have these "hard-copy" at hand in case you get lost or you want to review them later on. Also, there is not enough time to cover all subjects and exercises in one session, so you will find more material and exercises (with solutions) there.  

<ul>
      <li><a href="https://scw-ss.github.io/2021-03-16-tudelft-online-shell-novice" target="_blank">The Unix Shell</a></li>
      <li><a href="https://scw-ss.github.io/2021-03-16-tudelft-online-git-novice" target="_blank">Version Control with Git</a></li>
      <li><a href="https://scw-ss.github.io/2021-03-16-tudelft-online-python-novice-inflammation" target="_blank">Programming with Python</a></li>
</ul>

